# Python
__pycache__/
*.py[co]
*.pyd
*.so
.Python

# PyCharm
.idea/
.vscode/

# Project-specific
.venv/
.env
/dist/
*.log
poetry.lock

# temp files and folders
*.Containerfile
**/.temp*
**/.tmp*
.task/*

# environment variable files
**/.env.*
**/.env*
!.env.template